<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEK1w5EkFRb0fHpb8NuC5iQx4UKtPkJf8</string>
	<key>GCM_SENDER_ID</key>
	<string>291688942373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdsc</string>
	<key>PROJECT_ID</key>
	<string>gdsc-53961</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-53961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291688942373:ios:cdf1b3b8c9e6dd0fa1a8cc</string>
</dict>
</plist>